:root {
  --custom-bg: rgb(15, 23, 42);
  --text-white: #ffffff;
}

.custom-background {
  background-color: var(--custom-bg);
  color: var(--text-white);
  font-size: small;
}
h2{
  font-size: 1rem;
  font-weight: bold;
}
.sticky-header {
  position: sticky;
  top: 100px;
  z-index: 1000;
  background-color: var(--custom-bg); /* match your theme */
}
.custom-row .row{
  margin-bottom: 300px ;
}
li {
  color: gray;
}
li strong{
  color: white;
}

.mouse-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  pointer-events: none;
  background: radial-gradient(circle, rgba(29, 78, 216, 0.2), transparent 60%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.02s ease;
}